// This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.
extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block title
	| #{message}
	
block head
	+css('Home.css')
	+script('Home.js')
	
block content
	div
		h3 #{error.status}
		| #{error.stack}